<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671290661528-o1erjfveu3a749rkap9nms981hh6og5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671290661528-o1erjfveu3a749rkap9nms981hh6og5v</string>
	<key>API_KEY</key>
	<string>AIzaSyAi_h9dXeT-jGt0f4TJbbAKxJrub_iX4MY</string>
	<key>GCM_SENDER_ID</key>
	<string>671290661528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDemo</string>
	<key>PROJECT_ID</key>
	<string>strivright-8e755</string>
	<key>STORAGE_BUCKET</key>
	<string>strivright-8e755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671290661528:ios:dbca7cbb5d3b8399</string>
	<key>DATABASE_URL</key>
	<string>https://strivright-8e755.firebaseio.com</string>
</dict>
</plist>